
body{
    background-image: url(../img/pagina2obsidiana.jpg);
    background-size: 150px;
}


h1, h2, h3 {
    color: #fff;
    font-family: Minecraftia, sans-serif, 'Roboto';
    font-optical-sizing: auto;
    font-weight: bold;
  }
  h2 {
    font-style: italic;
  }


.coracao {
    padding: 10px;
    width: 4%;
    bottom: auto;
}

.linkcoracao{
    box-align: right;
    padding: 8px; 
    width: 4%;
    bottom: auto;
}
    .gifmadeira{
        border-radius: 15px;
    }
    .aether{
        position: relative;
        height: 400px;
        width: 400px;
        left: 25px;
        border-radius: 15px;
        transition: 0.5s;
    }
    .aether:hover {
        scale: 1.04;
    }

    .twilight{
        position: relative;
        height: 400px;
        width: 400px;
        right: 25px;
        border-radius: 15px;
        transition: 0.5s;
    }
    .twilight:hover {
        scale: 1.04;
    }
  .redstone {
    border-radius: 15px;
  }

  .imgTwAe {
    text-align: center;
    height: 410px;
    padding: 10px;
}